
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: bowo-sqlserver
    environment:
      - SA_PASSWORD=YourStrong!Passw0rd
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    networks:
      - bowo-net
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/localhost/1433"]
      interval: 30s
      timeout: 5s
      retries: 10
    volumes:
      - sql-data:/var/opt/mssql

  mongo:
    image: mongo:6.0
    container_name: bowo-mongo
    ports:
      - "27017:27017"
    networks:
      - bowo-net
    volumes:
      - mongo-data:/data/db

  auth:
    build:
      context: AuthMicroservice
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:5001
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=AuthDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True
      - Jwt__Secret=TaCleSuperSecreteDoitFaireAuMoins32Chars!
      - Admin__Email=admin@bowo.app
    depends_on:
      sqlserver:
        condition: service_healthy
    ports:
      - "5001:5001"
    networks:
      - bowo-net

  content:
    build:
      context: ContentMicroservice
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:5002
      - Mongo__ConnectionString=mongodb://mongo:27017
      - Mongo__Database=bowo-content-db
      - ContentServiceClientSecret=SuperSecretContent
      - Firebase__ProjectId=bowo-app-123
    depends_on:
      - mongo
    ports:
      - "5002:5002"
    networks:
      - bowo-net
    volumes:
      - ./ContentMicroservice/wwwroot:/app/wwwroot

  gateway:
    build:
      context: Gateway
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:5000
    depends_on:
      - auth
      - content
    ports:
      - "5000:5000"
    networks:
      - bowo-net

networks:
  bowo-net:
    driver: bridge

volumes:
  sql-data:
  mongo-data:
